.vscode/launch.json
.vscode/tasks.json
App/bin/Debug/net7.0/DotNet.Docker.deps.json
App/bin/Debug/net7.0/DotNet.Docker.dll
App/bin/Debug/net7.0/DotNet.Docker.exe
App/bin/Debug/net7.0/DotNet.Docker.runtimeconfig.json
App/bin/Debug/net7.0/DotNet.Docker.pdb
App/bin/Release/net7.0/DotNet.Docker.deps.json
App/bin/Release/net7.0/DotNet.Docker.dll
App/bin/Release/net7.0/DotNet.Docker.exe
App/bin/Release/net7.0/DotNet.Docker.pdb
App/bin/Release/net7.0/DotNet.Docker.runtimeconfig.json
App/bin/Release/net7.0/publish/DotNet.Docker.deps.json
App/bin/Release/net7.0/publish/DotNet.Docker.dll
App/bin/Release/net7.0/publish/DotNet.Docker.exe
App/bin/Release/net7.0/publish/DotNet.Docker.pdb
App/bin/Release/net7.0/publish/DotNet.Docker.runtimeconfig.json
App/obj/DotNet.Docker.csproj.nuget.dgspec.json
App/obj/DotNet.Docker.csproj.nuget.g.props
App/obj/DotNet.Docker.csproj.nuget.g.targets
App/obj/project.assets.json
App/obj/project.nuget.cache
App/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
App/obj/Debug/net7.0/apphost.exe
App/obj/Debug/net7.0/DotNet.Docker.AssemblyInfo.cs
App/obj/Debug/net7.0/DotNet.Docker.AssemblyInfoInputs.cache
App/obj/Debug/net7.0/DotNet.Docker.assets.cache
App/obj/Debug/net7.0/DotNet.Docker.csproj.AssemblyReference.cache
App/obj/Debug/net7.0/DotNet.Docker.csproj.CoreCompileInputs.cache
App/obj/Debug/net7.0/DotNet.Docker.csproj.FileListAbsolute.txt
App/obj/Debug/net7.0/DotNet.Docker.dll
App/obj/Debug/net7.0/DotNet.Docker.GeneratedMSBuildEditorConfig.editorconfig
App/obj/Debug/net7.0/DotNet.Docker.genruntimeconfig.cache
App/obj/Debug/net7.0/DotNet.Docker.GlobalUsings.g.cs
App/obj/Debug/net7.0/DotNet.Docker.pdb
App/obj/Debug/net7.0/ref/DotNet.Docker.dll
App/obj/Debug/net7.0/refint/DotNet.Docker.dll
App/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
App/obj/Release/net7.0/apphost.exe
App/obj/Release/net7.0/DotNet.Docker.AssemblyInfo.cs
App/obj/Release/net7.0/DotNet.Docker.AssemblyInfoInputs.cache
App/obj/Release/net7.0/DotNet.Docker.assets.cache
App/obj/Release/net7.0/DotNet.Docker.csproj.AssemblyReference.cache
App/obj/Release/net7.0/DotNet.Docker.csproj.CoreCompileInputs.cache
App/obj/Release/net7.0/DotNet.Docker.csproj.FileListAbsolute.txt
App/obj/Release/net7.0/DotNet.Docker.dll
App/obj/Release/net7.0/DotNet.Docker.GeneratedMSBuildEditorConfig.editorconfig
App/obj/Release/net7.0/DotNet.Docker.genruntimeconfig.cache
App/obj/Release/net7.0/DotNet.Docker.GlobalUsings.g.cs
App/obj/Release/net7.0/DotNet.Docker.pdb
App/obj/Release/net7.0/PublishOutputs.ce2778ca97.txt
App/obj/Release/net7.0/ref/DotNet.Docker.dll
App/obj/Release/net7.0/refint/DotNet.Docker.dll
